
@media only screen and (max-width:992px){
    .secondSection .card:nth-child(1) {
        position: absolute !important;
        top: 20px !important;
        left: 175px !important;
    }
    .secondSection .card:nth-child(2) {
        position: absolute !important;
        top: 95px !important;
        left: 30px !important;
    }
}
@media only screen and (max-width:830px){
    .secondSection .mt-5{
        margin-top: 10px !important;
    }
    
}

@media only screen and (max-width:767px){
    .secondSection .card:nth-child(1) {
        display: none !important;
        
    }
    .secondSection .card:nth-child(2) {
        display: none !important;
    }
    .secondSection{
        text-align: center !important;
    }
    .secondSection .mt-5{
        margin-top: 20px !important;
    }
    .hidbtn{
        display: none;
    }
    .mobbtn{
        display: block !important;
    }

    .diary{
        text-align: center !important;
    }
    .footer{
        text-align: center !important;
    }
    .footer .float-left{
        float: none !important;
        margin: 10px 0;
    }
    .footer .col-md{
        margin: 20px 0;
        padding: 10px 0;
        border-bottom: 2px solid gray;
    }
    .footer hr{
        display: none !important;
    }
    .imgback{
        height: 400px;
    }
    .showImg{
        display: block;
    }
}